
version: "3.9"



services:
  frontend:
    build:
      context: ./frontend
      
      dockerfile: Dockerfile


    container_name: futurevibe-frontend


    ports:
      - "3000:3000"


    env_file:
      - ./frontend/.env


    depends_on:
      - backend










  backend:
    build:
      context: ./backend

      dockerfile: Dockerfile

    container_name: futurevibe-backend


    ports:
      - "4000:4000"


    env_file:
      - ./backend/.env
